.checkbox-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; /* Adjust the gap as needed */
  width: 400px;
  margin-bottom: 1.5rem;
}

.custom-toast{
  width: 20%;
  z-index: 99;
}

.modal-footer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap:1rem;
}

.error-msg{
  color:#BA1C1C
}

.error-toast{
  width: 50%;
  z-index: 99;
}

.custom-toast-error{
  width: 40%;
  z-index: 99;
}